* {
    transition: all 0.2s ease-in-out;
  }
  
  body {
    background-image: url("back-ground.webp");
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .card {
    border: 4px solid aliceblue;
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin-bottom: 10%;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 1000px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      max-width: 50vh;
      max-height: unset;
    }
  }
  
  @media only screen and (max-height: 640px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
 
      width: 100%;
      max-width: 50vh;
      max-height: unset;
    }
  }
  
  img.birthday {
    border:2px solid black;
    border-radius: 2px 5%;

  }
  
  .text {
    padding: 1em;
  }
  
  .muted {
    opacity: 0.8;
  }
  
  .space {
    height: 100px;
  }
  #imagen_1{
      object-fit: contain;
    width: 100;
    height: 70%;
  }
    #imagen_2{
        object-fit: contain;
        width: 100;
        height: 70%;
    }
    #imagen_3{
        object-fit: contain;
        width: 100;
        height: 70%;
    }
